.button {
  background-color: #247BA0;}
  
.button:hover {
    background-color: #3EF6CE; }

.swatch-bg-button-primary {
  background: #247BA0; }

.message.focus {
  background: #247BA0;
  color: #fff; }

.button.outline {
  background: none;
  border-width: 2px;
  border-color: #247BA0;
  color: #247BA0; }

.button.outline:hover {
    border-color: #3EF6CE;
    color: #3EF6CE;}