<h5>
<span class="icon">
  <i class="fas fa-clock" aria-hidden="true"></i>
</span>
<span>{{ .ReadingTime }} minute read</span>
<span class="icon">
 <i class="fas fa-pencil-alt" aria-hidden="true"></i>
</span>
{{ if .PublishDate.IsZero }}
  Published: <time datetime="{{ .Date.Format "2006-01-02T15:04:05-07:00" }}">{{ .Date.Format "2 Jan, 2006" }}</time>
{{ else if lt .PublishDate .Lastmod }}
  Modified: <time datetime="{{ .Lastmod.Format "2006-01-02T15:04:05-07:00" }}">{{ .Lastmod.Format "2 Jan, 2006" }}</time>
{{ else }}
  Published: <time datetime="{{ .PublishDate.Format "2006-01-02T15:04:05-07:00" }}">{{ .PublishDate.Format "2 Jan, 2006" }}</time>
{{ end }}
  {{ if ne .Site.Params.hide_author true }}
    {{ with .Params.author }}
      by <strong><span itemprop="author">{{ index . }}</span></strong>
    {{ else }}
      by <strong><span itemprop="author">{{ .Site.Params.author }}</span></strong>
    {{ end }}
  {{ end }}
</h5>
<br>
<span><i>Views expressed in blogposts are those of the author and do not necessarily always reflect the opinion of BitofTrust as a team.</i></span>