{{ define "title"}} {{ .Title}} {{end}}
{{ define "header"}} {{ partial "header" .}} {{end}}

{{ define "main" }}

<div id="hero" class="wrap">
  <h1>Voice of {{.Site.Params.author }}</h1>
    <p>Our vision, news and ideas, and whatever feels important.<br>
    Views expressed in blogposts are those of the author and do not necessarily always reflect the opinion of BitofTrust as a team.
    <br> <a href="https://twitter.com/{{.Site.Params.twitter}}">Follow us on Twitter</a></p>
</div>
<ul id="posts">

 {{ range .Paginator.Pages.ByWeight }} {{ partial "page-summary" . }} {{ end }}
  <section>{{ partial "pagination" .}}</section>
</ul>

{{ end }} 
{{ define "footer" }} 
  {{ partial "footer" . }} 
{{ end }}
