  <footer id="footer">
    <nav>
      <ul>
        <li><span>BitofTrust</span></li>
        <li>
          <a href="/team/">Team</a>
        </li>
        <li>
          <a href="/blog/">Blog</a>
        </li>
          <li>
          <a href="/docs/">Docs</a>
        </li>
        <li>
          <a href="https://twitter.com/bitoftrust">Give a shout-out on Twitter!</a>
        </li>
      </ul>
    </nav>
    <p>&copy; Licence MIT.</p>
  </footer>