{{ define "title"}} {{ .Site.Title}} {{end}}
{{ define "header"}} {{ partial "header" .}} {{end}}
{{ define "main"}}

<div id="main">
  <div id="hero">
    <h1>{{.Title}}</h1>
    <p>{{.Description}}</p>
  </div>
  <div id="action-buttons">
    <a class="button primary big" href="/docs">Documentation</a> 
    <a class="button outline big" href="https://bitoftrust.app" onclick="_gaq.push(['_trackEvent', 'bitoftrust app']);">Go to BitofTrust App</a>
    <p>Documentation will guide you through using BitofTrust or implementing the protocol yourself, go to the App if you want to test it out</p>
  </div>
  <div class="message focus" data-component="message"> <span class="close small"></span>
    <a class="button inverted small" href="https://bitoftrust.com" >Bit of Trust </a> is a <mark>people & community focused protocol</mark> for building open & trustworthy digital connections (both online as offline). It can be used to establish <a href="https://www.openrecognition.org/"> open recognition</a> networks or as a Peer-to-Peer authentication protocol.
  </div>
  <div id="kube-features">
    <div class="row gutters">
      <div class="col col-4 item">
        <figure>
          <img alt="Architecture" height="48" src="{{ "/img/bot/icon-baseline.png" | relURL }}" width="48">
        </figure>
        <h3>Architecture</h3>
        <p>The Bit of Trust architecture will consist of 3 layers: a data layer called Bits of Trust (BoT) , a (re)presentation layer: Networks of Trust (NoT) and a service layer: Web of Trust services (WoT)</p>
      </div>
      <div class="col col-4 item">
        <figure>
          <img alt="Technology" height="48" src="{{ "/img/bot/icon-key.png" | relURL }}" width="48">
        </figure>
        <h3>Technology</h3>
        <p>Bit of Trust uses assymetric encryption, decentralisation & open linked data standards</p>
      </div>
      <div class="col col-4 item">
        <figure>
          <img alt="Services" height="48" src="{{ "/img/bot/icon-services.png" | relURL }}" width="48">
        </figure>
        <h3>Services & Apps</h3>
        <p>We empower people, communities via an ecosystem of services & apps building on the BitofTrust currency protocol. Go to <a href="https://gitlab.com/bitoftrust"> the gitlab group </a> for an up to date listing of existing apps & services.</p>
      </div>
    </div>
    <div class="row gutters">
      <div class="col col-4 item">
        <h4>People are people, not users</h4>
        <p>People first, technology later. We promote trust & open recognition (both online as offline). We start from a world where trust exists and not a world with a premise of distrust as in blockchain tech.</p>
      </div>
      <div class="col col-4 item">
        <h4>Towards a World Wide Web of Trust</h4>
        <p>Starting from mutual trust relationships, through local networks of trust we are building towards a global Web of Trust.</p>
      </div>
      <div class="col col-4 item">
        <h4>License</h4>
        <p>Bit of Trust is licensed under <a href="https://opensource.org/licenses/MIT">MIT</a>.<br>
      We want to promote contributions and establish an ecosystem building on the Bit of Trust data layer.</p>
    </div>
  </div>
</div>
</div>
{{ end }}
{{ define "footer"}} {{ partial "footer" .}} {{end}}
